
#sidebar ul li.active a {
  background-color: #f3d035 !important;
  color: #253475 !important;
  font-weight: bold !important;
}

#sidebar ul li.active i.material-icons {
  color: #253475 !important;
}


#sidebar ul li.active a {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}