@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; 
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #253475 !important;
    transition: color 0.3s;
    font-weight:500;
    padding-left: 30px !important;
    padding-right: 30px !important;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    bottom: -0.1px;
    left: 50%;
    background-color:#F2C700 ;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 60%;
}

.nav-link:hover {
    color:#253475 !important;
}

.nav-link.active::after {
    width: 60%;
}

.nav-link.active {
    color: #F2C700 !important;
}

.centered-section {
    max-width: 100%;
    margin: 0 auto;   
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-section .row {
    align-items: center;
    width: 100%;
}

.role-subtitle {
    font-size:1.2rem;
    line-height: 1.5;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.img-top {
    width: 200px;
    height:200px;
    object-fit: contain;
    margin: 0 auto 15px;
    display: block;
}

.role-card {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.role-card:hover {
    border-color: #253475;
    transform: translateY(-5px);
}

.card-boy h3 {
    font-size: 1.3rem;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.card-boy:hover h3 {
    color: #253475;
    font-size:rem;
    margin-top: 10px;
    transition: color 0.3s ease;
}
